/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 70%;
    margin: auto;
}

.row{
    margin: 40px 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


/* *** DEBUG *** */

/* *** box-top *** */

.debug .box{
    width: calc(100% / 3 - 10px);
    margin: 0 5px;
    float: left;

}

.debug .box-top{
    position: relative;
}

.debug .box .heart-box{
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 0px;
    top: 8px;
}

.heart::after{
    content: '\2665';
}

.discount{
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.debug .discount div{
    height: 20px;
    line-height: 16px;
    float: left;
    margin-right: 3px;
    
}

.debug .discount span{
    padding: 0 5px;
    color: white;
    font-weight: 600;
    font-size: 10px;
}


.debug .discount .value{
    background-color: red;
}

.debug .discount .sustainability{
    background-color: green;
}

.debug .box-top img{
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.debug .box-top .hover-img{
    display: none;
}

.debug .box-top:hover .origin{
    display: none;
}
.debug .box-top:hover .hover-img{
    display: inline-block;
}





/* *** box-bottom *** */


.debug .box-bottom{
    width: 100%;
}


.debug .box-bottom span{
    color: lightgray;
    font-size: 12px;
    font-weight: 400;
}

.debug .box-bottom .price-discounted{
    color: orange;
}
.debug .box-bottom .real-price{
    text-decoration-line: line-through;
}

.debug .box-bottom .product-title{
    text-transform: uppercase;
    font-size: 12px;
}



